body {
    font-family: 'Open Sans';font-size: 22px;
}

/* General settings */
.brand-color {
  background-color: #3bc0c3;
}

/* Header */

/* Body */

/* Footer */
.footer-color {
  background-color: #b6c2c9;
}
